<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("home.ejs")%>
    <div class="container p-5 bg-light rounded-3 mt-5">
            <div class="form-group">
                <input type="text" name="name" id="" class="form-control w-75 p-2 text-start" placeholder="Search Employee Name">
            </div>
            <table class="table mt-5 text-center table-striped">
                <tr>
                    <th>Sr NO</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Salary</th>
                    <th>Photo</th>
                    <th>Department</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                <tbody id="tblbody">
                <% deptList.forEach((row,index)=> { %>
                    <tr>
                        <td>
                            <%= index+1%>
                        </td>
                        <td>
                            <%= row.name%>
                        </td>
                        <td>
                            <%= row.email%>
                        </td>
                        <td>
                            <%= row.contact%>
                        </td>
                        <td>
                            <%= row.sal%>
                        </td>
                        <td>
                            <img src="/images/<%=row.photo%>" alt="Emp Photo" style="width: 60px; height: 60px; border-radius: 30px;">
                        </td>
                        <td>
                            <%= row.deptname%>
                        </td>
                        <td><a href="/empDelete?eid=<%=row.eid%>"><i class="fa-solid fa-trash"></i></a></td>
                        <td><a href="/updEmp?dn=<%= row.name%>&eid=<%= row.eid%>"><i class="fa-solid fa-pencil"></i></a></td>
                    </tr>   
                    <% }) %>
                    </tbody>
            </table>
        </div>
</body>
</html>